:root {
    --text-color: #000000;
    --bg-primary: #d7d7d7;
    --bg-secondary: #000000;
    --white-color: #ffffff;
    --font-size-15: 15px;
    --grey-text-color: #909090;
    --grey-bg-color: #c4c4c4;
    --bg-gradient-s1: #121212;
    --bg-gradient-s2: #1d1d1d;
    --tag-bg-organ-color: #fff6e9;
    --tag-text-organ-color: #ffa217;
    --tag-bg-blue-color: #d0e6ff;
    --tag-text-blue-color: #1a25ff;
    --btn-primary: #3f8d00;
    --btn-secondary: #185700;
    --success-color: #2eb886;
    --error-color: #f44336;

    /* Font */
    --font-title: "Montserrat", sans-serif;
    --font-body: "Open Sans", sans-serif;

    /* Background */
    /* --check-circle-icon: url("../images/icon/check_circle_icon.svg"); */
}

@property --check-circle-icon {
    syntax: "<url>";
    inherits: false;
    initial-value: url("../images/icon/check_circle_icon.svg");
}

@property --wrong-circle-icon {
    syntax: "<url>";
    inherits: false;
    initial-value: url("../images/icon/wrong_circle_icon.svg");
}

@property --background-image {
    syntax: "<url>";
    inherits: false;
    initial-value: url("../images/background.png");
}

@property --background-separator-white {
    syntax: "<url>";
    inherits: false;
    initial-value: url("../images/separatorWhite.png");
}

@property --background-it-logo {
    syntax: "<url>";
    inherits: false;
    initial-value: url("../images/Logo_it.png");
}

@property --current-input-validate-icon {
    syntax: "<url>";
    inherits: false;
    initial-value: "";
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
    height: 100vh;
    background: radial-gradient(
        circle,
        var(--white-color) 0%,
        var(--bg-primary) 100%
    );
    z-index: -1;
    overflow-x: hidden;
}
