@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
@import url("base.css");
@import url("components/navbar.css");
@import url("layout.css");
@import url("components/hero.css");
@import url("components/card.css");
@import url("components/about.css");
@import url("components/skills.css");
@import url("components/experience.css");

/* .container .homepage__wrapper::after {
    content: "";
    position: absolute;
    background-color: var(--bg-secondary);
    width: 60%;
    height: 100%;
    top: 0%;
    right: -4%;
    z-index: -1;
    clip-path: polygon(19% 0, 100% 0%, 100% 100%, 0% 100%);
} */

.section-box__title {
    font-family: var(--font-title);
    text-align: center;
    border: 1px solid;
    width: fit-content;
    padding: 8px 30px;
    outline: 3px solid;
    letter-spacing: 3px;
}
