@import url("../base.css");

.hero__intro {
    font-family: "Raleway", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.hero__greeting {
    font-size: 30px;
    color: var(--text-color);
    font-weight: bold;
    padding-bottom: 30px;
}

.hero__name {
    font-size: 40px;
    color: var(--text-color);
    font-weight: bold;
}

.hero__subtitle {
    font-size: 18px;
    color: var(--grey-text-color);
    font-weight: bold;
}

.hero__socials {
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: start;
}

.hero__social-link {
    font-size: 20px;
    color: var(--white-color);
    border: 1px solid var(--grey-bg-color);
    background-color: var(--grey-bg-color);
    width: 40px;
    padding: 5px;
    margin-right: 10px;
    box-shadow: 0 3px 2px 0px var(--grey-text-color);
    transition: all 0.2s ease;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.hero__social-link:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 2px 0px var(--grey-text-color);
}

.hero__image {
    width: 33%;
}
