@import url("../base.css");

.header_close_icon {
    display: none;
    background: none;
    border: none;
    color: var(--white-color);
    font-size: 2rem;
}

.header__toggle {
    display: none;
    font-size: 30px;
    padding-left: 20px;
    background: none;
    box-shadow: none;
    border: none;
}

.header__logo {
    width: 59.69px;
    height: 50px;
    display: block;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    font-family: var(--font-title);
    transform: translateX(15%);
    flex-wrap: wrap;
}

.header__nav-item {
    text-decoration: none;
    color: var(--white-color);
    font-weight: 600;
    border: 1px solid transparent;
    transition: all 0.5s ease;
    margin-right: 20px;
}

.header__nav-item:not(:last-of-type):hover {
    color: var(--grey-text-color);
}

.header__nav-item:last-child {
    background-color: var(--white-color);
    border-radius: 30px;
    color: var(--text-color);
    padding: 8px 14px;
}

.header__nav-item:last-child:hover {
    background-color: transparent;
    border: 1px solid var(--white-color);
    color: var(--white-color);
}

@media screen and (max-width: 2560px) {
}

@media screen and (max-width: 1024px) {
    .header__nav {
        justify-content: start;
        margin-right: 30px;
    }

    .header__toggle {
        display: none;
    }

    .header__logo {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    .header_close_icon {
        display: block;
        align-self: flex-end;
        margin-right: 20px;
    }

    .header__toggle {
        display: block;
        position: absolute;
        right: 35px;
        top: 35px;
        text-align: start;
        color: var(--white-color);
    }

    .header__logo {
        display: none;
    }

    .header__wrapper {
        display: block;
    }

    .header__wrapper.hide-header {
        display: none;
    }

    .header__nav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: fit-content;
        padding: 20px 0;
        width: 100%;
        top: 0;
        left: 0;
        background-color: var(--text-color);
        z-index: 10;
        transform: translateX(0);
        margin: 0;
        display: none;
    }

    .header__nav.show-nav {
        display: flex;
    }

    .header__nav-item {
        margin-bottom: 20px;
        font-size: 1.3rem;
    }

    .header__nav-item:last-child {
        background-color: transparent;
        border-radius: none;
        color: var(--white-color);
        padding: 0;
    }
}
